/* General styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #1e1e1e;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

/* Title styling */
#title {
    position: absolute;
    top: 20px;
}

h1 {
    font-size: 36px;
    margin: 0;
    text-align: center;
}

/* Main launcher section */
#launcher, #newsSection, #serversSection {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
}

/* Button styling */
button {
    background-color: #333;
    color: white;
    border: 1px solid #555;
    padding: 15px 25px;
    margin: 10px;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
}

button:hover {
    background-color: #555;
}

label {
    margin-bottom: 10px;
    font-size: 18px;
}

select {
    background-color: #333;
    color: white;
    border: 1px solid #555;
    padding: 10px;
    font-size: 16px;
    margin-bottom: 20px;
}

/* Hide sections initially */
.hidden {
    display: none;
}

/* News section styling */
#newsSection {
    flex-direction: column;
    text-align: center;
}

/* Servers section styling */
#serversSection {
    flex-direction: column;
    text-align: center;
}
